{% extends 'base.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
    <h1>Avis index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contenu</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td>{{ avi.contenu }}</td>
                <td>{{ avi.note }}</td>

                {% if is_granted("DELETE",avi) %}
                <td>
                    <a href="{{ path('app_avis_show', {'id': avi.id}) }}" class="btn btn-success">show</a>
                    <a href="{{ path('app_avis_edit', {'id': avi.id}) }}" class="btn btn-secondary">edit</a>
                    <form method="post" action="{{ path('app_avis_delete', {'id': avi.id}) }}">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avi.id) }}">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </td>
                {% endif %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_avis_new') }}">Create new</a>
{% endblock %}
