
<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="en">
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>BLOG IA de Benjamin Perez</title>

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Creative Agency Bootstrap Template">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <meta name="author" content="Themefisher">
    <meta name="theme-name" content="airspace">
    <meta name="generator" content="Themefisher Airspace Template v1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset("assets/images/favicon.png") }}" />


    <!-- bootstrap.min css -->
    <link rel="stylesheet" href="{{ asset("assets/plugins/bootstrap/bootstrap.min.css") }}">
    <!-- Ionic Icon Css -->
    <link rel="stylesheet" href="{{ asset("assets/plugins/Ionicons/css/ionicons.min.css") }}">
    <!-- animate.css -->
    <link rel="stylesheet" href="{{ asset("assets/plugins/animate-css/animate.css") }}">
    <!-- Magnify Popup -->
    <link rel="stylesheet" href="{{ asset("assets/plugins/magnific-popup/magnific-popup.css") }}">
    <!-- Slick CSS -->
    <link rel="stylesheet" href="{{ asset("assets/plugins/slick/slick.css") }}">

    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


</head>

<body id="body">

{% block header %}
    {%  if is_granted("ROLE_USER") %}
        {% include "blog/header_blog.html.twig" %}
    {% elseif is_granted("ROLE_ADMIN") %}
            {% include "blog/header_blog_admin.html.twig" %}
    {% else %}
        {% include "blog/header_blog.html.twig" %}
    {% endif %}

{% endblock %}


<main>
    {% block main %}

    {% endblock %}

    {% block footer %}

        {%  include "blog/footer_blog.html.twig" %}

    {% endblock %}


</main>


</body>

</html>
