{% extends "./blog/base_blog.html.twig" %}


{% block main %}
<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Blog de Benjamin</h1>

        </div>
      </div>
    </div>
  </div>
</section>
{% for article in articles %}
<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="post post-single">
					<h2 class="post-title">{{ article.getTitre()|raw }}</h2>
					<div class="post-meta">
						<ul>
							<li>
								<i class="ion-calendar"></i> {{ article.getDate().format("d, M Y") }}
							</li>
							<li>
								<i class="ion-android-people"></i> {{ article.getUtilisateur|raw }}
							</li>
							<li>
								<a href="blog-grid.html.twig"><i class="ion-pricetags"></i> {{ article.getMaCategorie() }}</a>
							</li>

						</ul>
					</div>
					<div class="post-thumb">
						<img class="img-fluid" src="{{ article.getImageUrl() }}" alt="">
					</div>
					<div class="post-content post-excerpt">
						<p>{{ article.getContenu()|raw }} </p>


					</div>
					<div class="post-comments">
						<h3 class="post-sub-heading">{{ article.getLesAvis|length }} Comments</h3>
						<ul class="media-list comments-list m-bot-50 clearlist">
							{% for avis in article.getLesAvis() %}
								<li class="media">
									<a class="pull-left" href="#!">
										<h6 style="color: #fd7e14">
											{% for i in 1..5 %}
												{% if i <= avis.getNote() %}
													★
												{% else %}
													☆
												{% endif %}
											{% endfor %}
										</h6>
									</a>
									<div class="media-body">
										<div class="d-flex justify-content-between">
											<div>
												<div class="comment-info">
													<h4 class="comment-author">
														<a href="#!">{{ avis.getUtilisateur() }}</a>
													</h4>
												</div>
												<p>{{ avis.getContenu() }}</p>
											</div>
											{% if is_granted("DELETE", avis) %}
												<div>
													<a href="{{ path('app_avis_show', {'id': avis.id}) }}" class="btn btn-success btn-sm">show</a>
													<a href="{{ path('app_avis_edit', {'id': avis.id}) }}" class="btn btn-secondary btn-sm">edit</a>
													<form method="post" action="{{ path('app_avis_delete', {'id': avis.id}) }}" style="display:inline;">
														<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avis.id) }}">
														<button class="btn btn-danger btn-sm">Delete</button>
													</form>
												</div>
											{% endif %}
										</div>
									</div>
								</li>
							{% endfor %}
						</ul>
					</div>


					<div class="post-comments-form">
						<h3 class="post-sub-heading">Leave Your Comment</h3>
						<form method="post" action="{{ path('app_avis_new') }}" id="form" role="form">
							<div class="row">
								<!-- Rating -->
								<div class="col-md-6 form-group">
									<label for="rating">Rating *</label>
									<select name="rating" id="rating" class="form-control" required>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
									</select>
								</div>
								<!-- Comment -->
								<div class="form-group col-md-12">
									<textarea name="text" id="text" class="form-control" rows="6" placeholder="Comment" maxlength="400" required></textarea>
								</div>
								<!-- Article ID -->
								<input type="hidden" name="article_id" value="{{ article.getId() }}">
								<!-- Send Button -->
								<div class="form-group col-md-12">
									<button type="submit" class="btn btn-main">Send comment</button>
								</div>
							</div>
						</form>
					</div>


				</div>
			</div>
		</div>
	</div>
</section>
	{% endfor %}

{% endblock %}