{% extends "./blog/base_blog.html.twig" %}


{% block main %}
<section class="page-title bg-2">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h1>Blog de Benjamin</h1>

        </div>
      </div>
    </div>
  </div>
</section>
{% for article in articles %}
<section class="page-wrapper">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="post post-single">
					<h2 class="post-title">{{ article.getTitre()|raw }}</h2>
					<div class="post-meta">
						<ul>
							<li>
								<i class="ion-calendar"></i> {{ article.getDate().format("d, M Y") }}
							</li>
							<li>
								<i class="ion-android-people"></i> {{ article.getUtilisateur|raw }}
							</li>
							<li>
								<a href="blog-grid.html.twig"><i class="ion-pricetags"></i> {{ article.getMaCategorie() }}</a>
							</li>

						</ul>
					</div>
					<div class="post-thumb">
						<img class="img-fluid" src="{{ article.getImageUrl() }}" alt="">
					</div>
					<div class="post-content post-excerpt">
						<p>{{ article.getContenu()|raw }} </p>


					</div>
					<div class="post-comments">
						<h3 class="post-sub-heading">{{ article.getLesAvis|length }} Comments</h3>
						<ul class="media-list comments-list m-bot-50 clearlist">
							{% for avis in article.getLesAvis() %}
								{% if is_granted("DELETE",avis) %}
									<td>
										<a href="{{ path('app_avis_show', {'id': avis.id}) }}" class="btn btn-success">show</a>
										<a href="{{ path('app_avis_edit', {'id': avis.id}) }}" class="btn btn-secondary">edit</a>
										<form method="post" action="{{ path('app_avis_delete', {'id': avis.id}) }}">
											<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ avis.id) }}">
											<button class="btn btn-danger">Delete</button>
										</form>

									</td>
								{% endif %}
								<li class="media">
									<a class="pull-left" href="#!">
										<h6 style="color: #fd7e14">        {% for i in 1..5 %}
												{% if i <= avis.getNote() %}
													★
												{% else %}
													☆
												{% endif %}
											{% endfor %}

										</h6>
									</a>
									<div class="media-body">
										<div class="comment-info">
											<h4 class="comment-author">
												<a href="#!">{{ avis.getUtilisateur() }}</a>
											</h4>


										</div>
										<p>
											{{ avis.getContenu() }}
										</p>

									</div>
								</li>

							{% endfor %}




						</ul>
					</div>
					<div class="post-comments-form">
						<h3 class="post-sub-heading">Leave You Comments</h3>
						<form method="post" action="#!" id="form" role="form">
							<div class="row">
								<div class="col-md-6 form-group">
									<!-- Name -->
									<input type="text" name="name" id="name" class=" form-control" placeholder="Name *" maxlength="100" required="">
								</div>
								<div class="col-md-6 form-group">
									<!-- Email -->
									<input type="email" name="email" id="email" class=" form-control" placeholder="Email *" maxlength="100"
									 required="">
								</div>
								<div class="form-group col-md-12">
									<!-- Website -->
									<input type="text" name="website" id="website" class=" form-control" placeholder="Website" maxlength="100">
								</div>
								<!-- Comment -->
								<div class="form-group col-md-12">
									<textarea name="text" id="text" class=" form-control" rows="6" placeholder="Comment" maxlength="400"></textarea>
								</div>
								<!-- Send Button -->
								<div class="form-group col-md-12">
									<button type="submit" class="btn btn-main ">
										Send comment
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	{% endfor %}

{% endblock %}