<!-- footer Start -->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-manu">
                    <ul>
                        <li><h3>Benjamin Perez développeur web fullstack</h3></li>
                    </ul>
                    <hr>
                </div>

                <p class="copyright mb-0">Copyright <script>document.write(new Date().getFullYear())</script> &copy; Développé par Benjamin Perez</a>.
                    <br> All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!--Scroll to top-->
<div id="scroll-to-top" class="scroll-to-top">
    <span class="icon ion-ios-arrow-up"></span>
</div>

<!--
Essential Scripts
=====================================-->


<!-- Main jQuery -->
<script src="{{ asset("assets/plugins/jquery/jquery.min.js") }}"></script>
<!-- Bootstrap 3.1 -->
<script src="{{ asset("assets/plugins/bootstrap/bootstrap.min.js") }}"></script>
<!-- slick Carousel -->
<script src="{{ asset("assets/plugins/slick/slick.min.js") }}"></script>
<script src="{{ asset("assets/plugins/magnific-popup/jquery.magnific-popup.min.js") }}"></script>
<!-- filter -->
<script src="{{ asset("assets/plugins/shuffle/shuffle.min.js") }}"></script>
<script src="{{ asset("assets/plugins/SyoTimer/jquery.syotimer.min.js") }}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
<script src="{{ asset("assets/plugins/google-map/map.js") }}"></script>

<script src="{{ asset("assets/js/script.js") }}"></script>